// fonts

$DMSans-Bold: "DMSans-Bold";
$DMSans-BoldItalic: "DMSans-BoldItalic";
$DMSans-Italic: "DMSans-Italic";
$DMSans-Medium: "DMSans-Medium";
$DMSans-MediumItalic: "DMSans-MediumItalic";
$DMSans-Regular: "DMSans-Regular";

$fontName: (
  "DMSans-Bold",
  "DMSans-BoldItalic",
  "DMSans-Italic",
  "DMSans-Medium",
  "DMSans-MediumItalic",
  "DMSans-Regular"
);

// headings

.h1 {
  font-family: $DMSans-Bold;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #000;
}

.h2 {
  font-family: $DMSans-Bold;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #000;
}

.h3 {
  font-family: $DMSans-Bold;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #000;
}

.h4 {
  font-family: $DMSans-Bold;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #000;
}

.h5 {
  font-family: $DMSans-Bold;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #000;
}

.h6 {
  font-family: $DMSans-Bold;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #000;
}

//  btn

.btn-blue {
  @include centerContent;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  background-color: blue;
  cursor: pointer;
  @include transitionBtn;

  &:hover {
    background-color: transparent;
    color: blue;
    @include transitionBtn;
  }
}

.btn-red {
  @include centerContent;
  @include transitionBtn;
  cursor: pointer;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  background-color: red;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: red;
    @include transitionBtn;
  }
}

// paddings

// grid

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.content {
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 62rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  & > div {
    flex-grow: 1;
    outline: 1px solid red;
  }
}

.col {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  & > div {
    flex-grow: 1;
    outline: 1px solid red;
  }
}

.row {
  &.item-right {
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  &.item-left {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }

  &.item-center {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  &.item-top {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }

  &.item-bottom {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  &.item-justify {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
  }
}

.col {
  &.item-right {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  &.item-left {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }

  &.item-top {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }

  &.item-bottom {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  &.item-center {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  &.item-justify {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
}
